.container{
width: 200px;
height:200px;
border: 2px black solid ;
position: relative;
}
.box{
    width:90px;
    height: 90px;
    border: 2px black solid ;
position: absolute;
background-color: skyblue;

}
.A{
    left: 51px;
    top:53px;

}
.B{

}
.C{
    left:106px;
    top: 0px;
}
.D{
    top:107px;

}
.E{
    left:107px;
    top:107px;
}